<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">URL Shortener</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Form for URL submission -->
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="url">Enter URL</label>
                        {{ form.url }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Shorten URL</button>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Shortened URLs</h2>
                <!-- Table for displaying shortened URLs -->
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Original URL</th>
                            <th>Shortened URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for url_data in data %}
                        <tr>
                            <td>{{ url_data.url }}</td>
                            <td><a href="{% url 'url_redirect' url_data.slug %}">{{ request.build_absolute_uri }}{{ url_data.slug }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
